@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  -ms-overflow-style: none; /* for IE, Edge */
  scrollbar-width: none; /* for Firefox */
}

.scrollbar:hover {
  -ms-overflow-style: auto; /* for IE, Edge */
  scrollbar-width: thin; /* for Firefox */
}

.scrollbar::-webkit-scrollbar {
  display: none; /* for WebKit browsers */
  width: 7px;
}

.scrollbar:hover::-webkit-scrollbar {
  display: block; /* for WebKit browsers */
}

.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
